
<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<head>
	<link rel="stylesheet" type="text/css" href="default.css" />
	<script src="../../requires/zepto/zepto.js" type="text/javascript" charset="utf-8"  ></script>	
	<script src="../../requires/iscroll/iscroll.js" type="text/javascript" charset="utf-8"  ></script>
	<script src="../../requires/mustache/mustache.js" type="text/javascript" charset="utf-8"  ></script>
	<script src="nh_list_view.js" type="text/javascript" charset="utf-8"  ></script>

	<script src="app.js" type="text/javascript" charset="utf-8"  defer></script>

</head>

<body>
	<div id="appendIt" style="height:150px;width:100%">   </div>
	<div id="appendLeft" style="height:250px;margin-top:10px;width:50%;float:left;"> </div>
	<div id="appendRight" style="height:250px;margin-top:10px;width:50%;float:left;"> </div>

</body>

</html>
