
body {
	overflow: hidden;
}

.body{
	height:auto;
	position: relative;

}
.nh_page {
	position: absolute;
	height: 100%;
	width: 100%;
 	display: none;
	overflow: hidden;
}
 
.nh_animating{
	display:block;
}

.active {
	left: 0%;
	right: 0%;
	z-index: 2;
	display: block;
}


.goBack {
	height:28px;
	width:108px;
	left:20px;
	position: absolute;
}

.nh_page.left{
	left:100%;
	z-index: 1;
}

.nh_page.right{
	right:100%;
	z-index: 1;
}

@-webkit-keyframes left {
	from {
		left: 100%;
	}
	to {
		left: 0%;
  	}
}

@-webkit-keyframes left_parent {
	from {
		left: 0%;
	}
	to {
		left: -100%;
  	}
}


@-webkit-keyframes left_backwards {
	from {
		right: 100%;
	}
	to {
		right: 0%;
  	}
}

@-webkit-keyframes left_backwards_parent {
	from {
		right: 0%;
	}
	to {
		right: -100%;
  	}
}

/* RIGHT */

@-webkit-keyframes right {
	from {
		right: 100%;
	}
	to {
		right: 0%;
  	}
}

@-webkit-keyframes right_parent {
	from {
		right: 0%;
	}
	to {
		right: -100%;
	}
}

@-webkit-keyframes right_backwards {
	from {
		left: 100%;
	}
	to {
		left: 0%;
  	}
}

@-webkit-keyframes right_backwards_parent {
	from {
		left: 0%;
	}
	to {
		left: -100%;
	}
}


body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size: 16px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
	box-sizing:border-box;
	-moz-box-sizing:border-box;  
	-webkit-box-sizing:border-box;
}

.body {
	clear:both;
	overflow: hidden;
 	height: 100%;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #75b7e8), color-stop(0.05, #38586f), color-stop(1, #121c24)); 	
 }

.header {
	z-index:2;
	top:0; left:0;
	width:100%;
	max-height:10%;
	line-height:45px;
	background-color:#d51875;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #75b7e8), color-stop(0.05, #38586f), color-stop(1, #121c24));
	background-image:-moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
	background-image:-o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
	padding:0;
	color:#eee;
	font-size:20px;
	text-align:center;
}

.header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

.wrapper {
	display: inline-block;
	height: inherit;
	width: 100%;
	position: relative;
}

.body_scroller {
	padding-bottom: 46px;
}




